<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
  <body>
     <div>
          <div *ngFor="let item of name;" class="col-lg-3 col-md-4  col-sm-6 col-xs-12">
              <img src="{{item.Image}}"/>
              <br>{{item.name}} {{item.Price}} {{item.Unit}}
              <br>
              <button #template  class="btn btn-success" (click)="addCar(template,item)">Add To Cart</button>

          </div>
          <p></p>
          <div><button (click)="getCartItems()">See cart</button></div>
    </div>
  </body>
</html>