
  
     <div class="container-fluid">
         <div style="display:grid; padding: 2px; grid-template-columns: repeat(3, 1fr);">
          <div  *ngFor="let item of name;" >
             
            <img src="{{item.Image}}"/>
              <br>
              {{item.name}} {{item.Price}} {{item.Unit}}
              <br>
              <button #template  class="btn btn-success" (click)="addCar(template,item)">Add To Cart</button>
            </div>
        </div>


            
       
          <p></p>
          <div><button>See cart</button></div>
    </div>
