
  
     <div class="container">
        <div class="col-sm-6">
            <p>THis is first </p>
        </div>
        <div class="col-sm-6">
          <p>THis is Second </p>
        </div>
          <div  class="col-sm-6" *ngFor="let item of name;" >
             
            <img src="{{item.Image}}"/>
              <br>
              {{item.name}} {{item.Price}} {{item.Unit}}
              <br>
              <button #template  class="btn btn-success" (click)="addCar(template,item)">Add To Cart</button>
            </div>
        


            
       
          <p>This is ljlkj</p>
          <div><button>See cart</button></div>
    </div>
