.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: auto;
  }

  .rightalign{
     position: absolute;
     right:10px;
   /* text-align: right; */
   /* text-align: justify;  /* For Edge */
   /* //text-align-last: left;  */
  }