<p>cart-   section works! </p>

        <table class="table table-dark">
            <tr> 
                <th>ITEM</th>
                <th>Price</th>
                <th>QUANTITY</th>
                <th>Amount</th>
            </tr>
            
            <tr *ngFor="let item of dataArray;">
                <td>{{item.name}}</td>
                <td>{{item.Price}}</td>
                <td><button #template  class="btn btn-danger" (click)="Decrease(template,item)">-</button>
                    {{item.Quantity}}
                    <button #template  class="btn btn-success" (click)="Increase(template,item)">+</button>
                </td>
                <td>{{item.Amount}}</td>

            </tr>
            <tr>
                <td></td>
                <td>Total</td>
                <td><b>{{TotalQuantity}}</b></td>
                <td><b>{{TotalSum}}</b></td>
            </tr>

            
            

        </table>
        <div><button class="btn btn-success" (click)="placeOrder()">PLACE ORDER</button></div>

   